.header-under {
  background: #ff0000;
}
.header-above_auth__item {
  float: right;
  color: #000000;
}
.sticky{
  position: fixed;
  top: -45px;
  z-index: 999;
  width: 100%;
  background-color: white;
  transition: all .5s ease;
}
.ProductsFrame-title{
  font-size: 30px !important;
  font-weight: bold !important;
}


/* over ride andt */
.header-under .ant-menu-item::after {
  bottom: 7px !important;
}
.header-under .ant-menu-horizontal{
  border-bottom: none !important;
}
.header-under .ant-menu-item-selected {
  color: #ffffff !important;
}
.header-under .ant-menu-item-selected::after {
  border-bottom: 2px solid #ffffff !important;
}
