.header-under {
  background: #df1f26;
}
.header-above_auth__item {
  float: right;
  color: #000000;
}
.sticky {
  position: fixed;
  top: -45px;
  z-index: 999;
  width: 100%;
  background-color: white;
  animation: slideInDown 0.6s ease;
  opacity: 0.6;
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.ProductsFrame-title {
  font-size: 30px !important;
  font-weight: bold !important;
}

/* over ride andt */
.header-under .ant-menu-item::after {
  bottom: 7px !important;
}
.header-under .ant-menu-horizontal {
  border-bottom: none !important;
}
.header-under .ant-menu-item-selected {
  color: #ffffff !important;
}
.header-under .ant-menu-item-selected::after {
  border-bottom: 2px solid #ffffff !important;
}
